/* ----==== XS ====---- */
@media screen and (max-width: 565px) {
    /* ----==== Sidebar ====---- */
    .container{
        /* border: 1px solid green; */
        max-width: 565px;
    }
    
    .sidebar{
        width: 76px;
        /* background: blanchedalmond; */
        z-index: 2;
    }

    .familyName{
        display: none;
    }

    .givenName{
        margin-left: 20px;
    }
    
    .avatar-full-name,
    .add-user,
    .companiyes,
    #customers,
    #setting,
    .menu-btn-text{
        position: fixed;
        left: 10px;
        padding: 10px;
        /* border: 1px solid red; */
        border-radius: 4px;
        opacity: 0;
        box-shadow: 0 0 2px;
    }
    .avatar-full-name:hover,
    .add-user:hover,
    .companiyes:hover,
    #customers:hover,
    #setting:hover,
    .menu-btn-text:hover{
        /* border: 1px solid red; */
        opacity: 1;
        background: #FFF;
        z-index: 0;
    }

    .avatar-img{
        margin-left: 12px;
    }

    .main-icon
    {
        margin-left: 32px;
        /* border: 1px solid red; */
    }


    .menu{
        border: 1px solid red;
        display: none;
    }
    
    /* ----==== Sidebar ====---- */


    /* ----==== Content ====---- */
    .content{
        /* border: 1px solid yellow; */
        width: 80%;
        margin: 0 28px;
    }

    /* ----==== Content Select Section ====---- */

    /* ----==== Content Search Section ====---- */

    .content-header{
        /* border: 1px solid red; */
        padding-bottom: 13px;
    }

    .content-search{
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }

    .search{
        /* border: 1px solid red; */
        width: 100%;
        margin: 4px 0;
    }

    .content-buttons{
        /* border: 1px solid red; */
        width: 100%;
        height: 61px;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: #FFF;
    }

    /* ----==== Content Search Section End ====---- */
    /* ----==== Content Main ====---- */
    .content-main{
        /* border: 1px solid red; */
        width: 100%;
    }

    .users-item-email{
        display: none;
    }
    /* ----==== User Section ====---- */

    .users-email-item{
        /* border: solid 1px red; */
        display: none;
    }

    .users-item-password{
        display: none;
    }

    .users-password-item{
        /* border: solid 1px red; */
        display: none;
    }
    
    .users-item-active{
        display: none;
    }

    .users-active-item{
        /* border: solid 1px red; */
        display: none;
    }

    .alert{
        /* border: 1px solid red; */
         width: 360px;
         height: 25px;
        position: fixed;
        top: 10%;
        left: 56%;
        transform: translate(-50%);
        background: #34D57E;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 0;
        z-index: 1;
    }


    /* ----==== Delete alert ====---- */
    .delete-alert{
        /* border: 1px solid red; */
        width: 330px;
        height: 80px;
        position: fixed;
        top: 1%;
        left: 55%;
        transform: translate(-50%);
        background: #fff;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 18px 24px;
        z-index: 1;
    }
    
    .question{
        /* border: green 1px solid; */
        font-family: var(--Poppins);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #000000;
    }
    
    /* .answer{
        border: 1px solid lightcoral;
    } */
    
    .answer a{
        font-family: var(--Poppins);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-left: 20px;
    }
    
    .btn-yes{
        /* border: 1px solid blue; */
        background: #F7685B;
        border-radius: 2px;
        padding: 4px 36px;
    }
    
    .btn-no{
        background: #34D57E;
        border-radius: 2px;
        padding: 4px 36px;
    }

    /* ----==== Delete alert End ====---- */

    /* ----==== User Section End ====---- */

    /* ----==== Content Main End ====---- */

}